{% extends 'base/base.html' %}


{% block content %}
<div class="container-xxl">
	<div id="carouselExample" class="carousel slide">
	  <div class="carousel-inner">
		<div class="carousel-item active">
			<div class="row">
				<div class="col">
				  <div class="card">
					  <h5 class="card-header">{{id.0.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.0.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				</div>
				<div class="col">
				  <div class="card">
					  <div class="card">
					  <h5 class="card-header">{{id.1.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.1.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				  </div>
				</div>
				<div class="col">
				  <div class="card" style="width: 18rem;">
					  <div class="card">
					  <h5 class="card-header">{{id.2.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.2.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
		  <div class="row">
				<div class="col">
				  <div class="card">
					  <h5 class="card-header">{{id.3.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.3.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				</div>
				<div class="col">
				  <div class="card" style="width: 18rem;">
					  <div class="card">
					  <h5 class="card-header">{{id.4.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.4.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				  </div>
				</div>
				<div class="col">
				  <div class="card" style="width: 18rem;">
					  <div class="card">
					  <h5 class="card-header">{{id.5.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.5.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
		  <div class="row">
				<div class="col">
				  <div class="card">
					  <h5 class="card-header">{{id.6.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.6.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				</div>
				<div class="col">
				  <div class="card" style="width: 18rem;">
					  <div class="card">
					  <h5 class="card-header">{{id.7.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.7.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				  </div>
				</div>
				<div class="col">
				  <div class="card" style="width: 18rem;">
					  <div class="card">
					  <h5 class="card-header">{{id.8.title}}</h5>
					  <div class="card-body">
						<p class="card-text">{{id.8.description}}</p>
						<a href="/votes/{{vote.id}}" class="btn btn-primary">Проголосовать</a>
					  </div>
				  </div>
				  </div>
				</div>
			</div>
		</div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Предыдущий</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Следующий</span>
	  </button>
	</div>
</div>
{% endblock %}